@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .list-placeholder {
    @apply text-sm text-slate-300;
  }
}

.task {
  position: relative;
  min-width: 300px;
  padding: 60px 20px 40px;
  border-radius: 10px;;
  box-shadow: 0 0 10px rgba(0,0,0, .2);
  border: 1px solid #ee82ee;
}

.is-important {
  border-color: #f00;
}

@media (min-width: 1024px) {
  .task {
    min-width: 550px;
    padding: 70px 40px 40px;
  }
}

.task-button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 8px 16px;
  background: #c01818;
  border: 1px solid #c01818;
  border-radius: 10px;
  transition: .3s;
  font-size: 12px;
}

@media (min-width: 1024px) {
  .task-button {
    right: 20px;
    top: 20px;
    font-size: 14px;
  }
}

.task-button:hover {
  background: #a71717;
}